---
---

@import 'all';

/* Custom Styles */

a:visited {
  color: $color-primary;
}

ul {
  margin: 0;
}

mark {
  background: $color-gold-lightest;
}

code {
  word-wrap: break-word;
}

header.site-header {
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
  background: $color-primary;
  color: white;
}

#main h1:first-of-type {
  margin-top: 1em
}
