<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <!-- Compiled CSS  -->
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
    
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Merriweather:700">
    
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/vendor/html5shiv.js"></script>
    <![endif]-->
    
    <!-- Favicons -->
    <!-- 128x128 -->
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}/assets/img/favicons/favicon.ico" />
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicons/favicon.png" />
    
    <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.baseurl }}/assets/img/favicons/favicon-192.png" />
    
    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/img/favicons/favicon-57.png">
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.baseurl }}/assets/img/favicons/favicon-72.png">
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.baseurl }}/assets/img/favicons/favicon-114.png">
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/assets/img/favicons/favicon-144.png">
  </head>
  
  <body>
    
    <div class="usa-disclaimer">
      <div class="usa-grid">
        <div class="usa-width-one-whole">
          <span class="usa-disclaimer-official">
            <img class="usa-flag_icon" alt="US flag signifying that this is a United States Federal Government website" src="{{ site.baseurl }}/assets/img/us_flag_small.png">
            An official website of the United States Government
          </span>
        </div>
      </div>
    </div>
    
    {% include header.html %}
    
    <div class="usa-grid">
      <div id="main" class="usa-width-one-whole">
        {{ content }}
      </div>
    </div>
    
    {% include footer.html %}
    
    <script src="{{ site.baseurl }}/assets/js/vendor/jquery-1.11.3.min.js"></script>
    <!--[if lt IE 9]>
      <script src="{{ site.baseurl }}/assets/js/vendor/selectivizr-min.js"></script>
      <script src="{{ site.baseurl }}/assets/js/vendor/respond.js"></script>
      <script src="{{ site.baseurl }}/assets/js/vendor/rem.min.js"></script>
    <![endif]-->
    <script src="{{ site.baseurl }}/assets/js/components.js"></script>
    <script src="{{ site.baseurl }}/assets/js/anchor.js"></script>
    <script>
      anchors.add('#main h1, #main h2, #main h3');  
    </script>
  </body>
  
</html>
